<section id="about" class="content__bio" aria-labelledby="about_heading">
  <h1 id="about_heading">About</h1>
  <div class="content__bio__grid">
    <div class="content__bio__about">
      {% capture biography %}{% include content/biography.md %}{% endcapture %}
      {{ biography | markdownify }}
    </div>
    <article class="content__bio__card">
      {% capture service %}{% include content/service.md %}{% endcapture %}
      {{ service | markdownify }}
    </article>
    <article class="content__bio__card">
      {% capture teaching %}{% include content/teaching.md %}{% endcapture %}
      {{ teaching | markdownify }}
    </article>
  </div>
</section>