<section id="biography" class="content__bio" aria-labelledby="biography_heading">
  <div class="content__bio__text">
    <div class="content__bio__text__paragraph">
      {% capture biography %}{% include content/biography.md %}{% endcapture %}
      {{ biography | markdownify }}
    </div>
    <div class="content__bio__text__paragraph">
      {% capture service %}{% include content/service.md %}{% endcapture %}
      {{ service | markdownify }}
    </div>
    <div class="content__bio__text__paragraph">
      {% capture teaching %}{% include content/teaching.md %}{% endcapture %}
      {{ teaching | markdownify }}
    </div>
  </div>
</section>